.chat-window {
  background-color: white;
  height: 100%;
  width: 100%;


  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

.scroll-window {
  display: block;
  left: 0;
  top: 0;

  overflow-y: scroll;
  height: 313px;
  width: 420px;
}

.setting-buttons {
  display: block;
  position: absolute;
  background-color: #b8b8b8e8;
  border-radius: 6px;
  color: white;
}

.setting-btn {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.setting-btn:hover {
  background-color: #9e9e9e;
}

.btn-edit {
  border-radius: 6px 6px 0px 0px;
}

.btn-remove {
  border-radius: 0px 0px 6px 6px;
}

.hide {
  display: none !important;
}

.current-user {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 1rem;
  /* padding: 0.65rem; */
  font-size: 13pt;
  /* min-height: 47.4px;
  background-color: rgb(249 249 249); */
  width: 100%;
}

.window-header {
  display: flex;
  justify-content: space-between;
  padding: 0.65rem;
  font-size: 13pt;
  min-height: 55px;
  /* background-color: rgb(249 249 249); */
  background-color: rgb(255 255 255); 
  border-bottom: 1px solid #ebebeb;
}

.no-user {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 9rem 1rem 1rem 1rem;
  color: #7e7e7e;
}

.not-exist {
  min-height: 313px;
}

/* .search-icon {
  padding: 0 0.2rem 0 0.8rem;
  width: 46px;
  height: 31px;
} */

.search-message {
  /* display: block;
  position: absolute; */
  border: none;
  border: 1px solid #f0f0f0;
  padding: 0rem 1rem 0rem 1rem;
  margin-left: 0.5rem;
  font-size: 11.2pt;
  max-width: 171px;
}

.search-message:focus-visible {
  outline: none;
}

.group-buttons {
  display: flex;
}

.cancel-group {
  display: flex;
}

.selected-messages-amount {
  display: flex;
  align-items: center;
  font-size: 17pt;
  color: #3cafe4;
  padding: 0rem 0.3rem 0 0.3rem;
}

.wrapper-cross-icon {
  display: flex;
  align-items: center;
}

.personal-store-is-empty {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  color: #7e7e7e;
}

.wrapper-personal-store-is-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 305px;
  min-width: 400px;
}


.hide {
  display: none;
}

.mini-reply-or-forwarded-messages {

  background-color: #f1f1f1;
  padding: 0.4rem;
  border-top: 1px solid #ececec;
}


/*                             shwedwefkerfelrfler;,rtg*/
.user-with-avatar {
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 27%; /* Ширина */
  float: left; /* Выстраиваем элементы по горизонтали */
  margin: 0 0 0 3.5%; /* Отступ слева */
  /* background: #f0f0f0; Цвет фона */
  border-radius: 25px; /* Радиус скругления */
  /* padding: 2%; Поля */
}

.no-avatar {
  background-color: #a8dff8;
  border-radius: 25px;
  /* height: 33px;
  width: 44.8px; */
  min-height: 33px;
  min-width: 33px;
}

.forwarded-messages-info {
  height: 65px;
  width: 85px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
}

.forwarded-messages-item-is-message {
  font-size: 9pt;
}

.forwarded-messages-item-is-amount {
  font-size: 13pt;
}