.chat-window {
  background-color: white;
  height: 100%;
  width: 100%;


  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

.scroll-window {
  display: block;
  left: 0;
  top: 0;

  overflow-y: scroll;
  height: 313px;
  width: 400px;
}

.setting-buttons {
  display: block;
  position: absolute;
  background-color: #b8b8b8e8;
  border-radius: 6px;
  color: white;
}

.setting-btn {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.setting-btn:hover {
  background-color: #9e9e9e;
}

.btn-edit {
  border-radius: 6px 6px 0px 0px;
}

.btn-remove {
  border-radius: 0px 0px 6px 6px;
}

.hide {
  display: none;
}

.current-user {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.65rem; */
  font-size: 13pt;
  /* min-height: 47.4px;
  background-color: rgb(249 249 249); */
  width: 100%;
}

.window-header {
  display: flex;
  justify-content: space-between;
  padding: 0.65rem;
  font-size: 13pt;
  min-height: 47.4px;
  background-color: rgb(249 249 249);
}

.no-user {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 9rem 1rem 1rem 1rem;
  color: #7e7e7e;
}

.not-exist {
  min-height: 313px;
}

.search-icon {
  padding: 0 0.2rem 0 0.8rem;
  width: 46px;
  height: 31px;
}

.search-message {
  /* display: block;
  position: absolute; */
  border: none;
  border: 1px solid #f0f0f0;
  padding: 0rem 1rem 0rem 1rem;
  font-size: 11.2pt;
  max-width: 171px;
}

.search-message:focus-visible {
  outline: none;
}