.user {
  width: 100%;
  /* background-color: #fcfcfc; */
  /* background-color:  #f1f1f1; */
  background-color: #f9f9f9;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: #494949;

}

.user:hover {
  background-color: white;
}

.user:active {
  background-color: white;
}