/* .user-with-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */
.user-message {
  height: 1.5rem;
  color: #9f9f9f;

  width: 10.5rem;
  white-space: nowrap; /* Текст не переносится */
  overflow: hidden; /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.user-with-message-avatar {
  cursor: pointer;
  width: 100%;
  /* background-color: #f9f9f9; */
  background-color: #f9f9f91f;
  /* border-bottom: 1px solid #ededed; */
  border-bottom: 1px solid #e2f0f3;
  display: flex;
  justify-content: start;
  /* align-items: center; */
  flex-direction: row;

  padding: 12px;
  color: #494949;
}

.user-with-message-avatar:hover {
  background-color: white;
}

.user-with-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .user {
  padding-left: 0.5rem;
} */

.active-user {
  background-color: white;
}

.user-with-message:active {
  background-color: white;
}

.avatar-with-message {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.avatar {
  position: relative;
  overflow:hidden;
  /* width:300px;
  height:300px; */
  width: 45px;
  height: 45px;
}

.avatar-header {
  height: 33px;
}

.avatar img {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 45px;
  height: 45px;
  /* width:300px;
  height:300px; */
  object-fit:cover;
}