.sidebar {
  background-color: rgb(241 241 241);
  border: 2px solid rgb(229 229 229);

  /* height: 821px; */
  height: 710px;

  min-width: 175px;

  left: 0;
  top: 0;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  display: none;
}

.search {
  display: block;
  position: absolute;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-size: 11.2pt;
  /* max-width: 171px; */
  /* max-width: 194px; */
  max-width: 202px;
}

.search:focus-visible {
  outline: none;
}

.users  {
  margin-top: 3rem;
}

@media (max-width: 650px) {

  .sidebar {
    width: 30%;
  }
}










/* Убрать полосу прокрутки у элемента */
/* .element::-webkit-scrollbar {
  width: 0; */
  /* background: rgba(0, 0, 0, 0); */
/* } */

/* ::-webkit-scrollbar — это фон самого скроллбара.
::-webkit-scrollbar-button — кнопки направления на полосе прокрутки.
::-webkit-scrollbar-track — пустое пространство под индикатором прокрутки.
::-webkit-scrollbar-thumb — индикатор прокрутки, перетаскиваемый элемент. */