.sidebar {

  background-color: #d8eff73b;
  border: 2px solid rgb(229 237 239);

  height: 710px;
  /* min-width: 270px; */
  min-width: 285px;

  left: 0;
  top: 0;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  display: none;
}

.search {
  display: block;
  position: absolute;
  border: none;
  border-bottom: 1px solid #bfd9df;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-size: 11.2pt;
  z-index: 3;
  /* max-width: 265px; */
  max-width: 280px;
  width: 18rem;
  height: 3.5rem;
}

.search:focus-visible {
  outline: none;
}

.users  {
  margin-top: 3.5rem;
}

/* @media (min-width: 650px) and (max-width: 900px) */
/* @media (max-width: 650px) {

  .sidebar {
    width: 30%;
  }
} */
@media (min-width: 810px) and (max-width: 900px) {
  .sidebar {
    width: 55%;
  }
  .search {
    max-width: none;
    width: 54.5%;
  }
}

@media (min-width: 740px) and (max-width: 810px) {
  .sidebar {
    width: 60%;
  }
  .search {
    max-width: none;
    width: 59.5%;
  }
}

@media (min-width: 650px) and (max-width: 740px) {
  .sidebar {
    width: 67%;
  }
  .search {
    max-width: none;
    width: 66.5%;
  }
}

@media (min-width: 550px) and (max-width: 650px) {
  .sidebar {
    width: 77%;
  }
  .search {
    max-width: none;
    width: 76.2%;
  }
}

@media (min-width: 450px) and (max-width: 550px) {
  .sidebar {
    width: 89%;
  }
  .search {
    max-width: none;
    width: 88%;
  }
}

@media (max-width: 450px) {

  .sidebar {
    width: 100%;
    min-width: 255px;
  }
  .search {
    max-width: none;
    width: 100%;
  }
}










/* Убрать полосу прокрутки у элемента */
/* .element::-webkit-scrollbar {
  width: 0; */
  /* background: rgba(0, 0, 0, 0); */
/* } */

/* ::-webkit-scrollbar — это фон самого скроллбара.
::-webkit-scrollbar-button — кнопки направления на полосе прокрутки.
::-webkit-scrollbar-track — пустое пространство под индикатором прокрутки.
::-webkit-scrollbar-thumb — индикатор прокрутки, перетаскиваемый элемент. */