.any-icon {
  cursor: pointer;
  padding: 0 0.4rem 0 0.4rem;
  width: 42px;
  height: 29px;
}

.hide {
  display: none;
}

.cross-icon {
  /* width: 28px !important;
  height: 16px !important; */

  /* width: 33px !important;
  height: 21px !important; */

  width: 40px !important;
  height: 28px !important;
}