.message {
    background-color: whitesmoke;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 7px;
    height: fit-content;
    width: fit-content;
}