.message {
    background-color: whitesmoke;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 7px;
    height: fit-content;
    width: fit-content;
    white-space: pre-line;
}

.message-time {
    font-size: 9pt;
    color: #b9b9b9;
    display: flex;
    justify-content: flex-end;
}